src/*.exe
src/Mousecoin
src/Mousecoind
src/test_Mousecoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.autosave
.Mousecoin
#compilation and Qt preprocessor part
*.qm
Makefile
Mousecoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build
.qmake.stash

!src/leveldb/Makefile
